extends layout

block content
    section(ng-controller='produtoCtrl')
        h3 Editar Produto
        form#adicionarProduto.col.s12(method='PUT', action='/produtos')
        .row
            .input-field.col.s12
                input#nome.validate(type='text')
                label(for='nome') Nome
        .row
            .input-field.col.s12
                input#preco.validate(type='text')
                label(for='preco') Preco
        .row
            .input-field.col.s12
                input#quantidade.validate(type='text')
                label(for='quantidade') Quantidade
        .row
            a.waves-effect.waves-light.btn.grey.darken-3 Salvar
