doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title HF Teste
        link(rel='stylesheet', href='/lib/materialize/css/materialize.min.css')
        link(href='/lib/materialize/css/icon.css', rel='stylesheet')
    body.grey.lighten-3(ng-app='hfTesteApp')
        block body
        
