extends layout

block content
    section(ng-controller='produtoCtrl', ng-init='consultar()')
        h3 Consultar Produto
        .row
            .input-field.col.s12
                h4(ng-model='produto.nome')
        .row
            .input-field.col.s12
                h4(ng-model='produto.preco')
        .row
            .input-field.col.s12
                h4(ng-model='produto.quantidade')
        .row
            a.waves-effect.waves-light.btn.grey.darken-3(href='/produtos/produto.id') Editar
        .row
            a.waves-effect.waves-light.btn.grey.darken-3(href='/produtos/produto.id') Deletar
