section
    h3 Cadastrar Usuario
    form#cadastrarUsuario.col.s12
    .row
        .input-field.col.s12
            input#email.validate(type='email', ng-model='usuario.email')
            label(for='email') Email
    .row
        .input-field.col.s12
            input#senha.validate(type='password', ng-model='usuario.senha')
            label(for='senha') Senha
    .row
        .input-field.col.s12
            input#confirmaSenha.validate(type='password', ng-model='usuario.confirmaSenha')
            label(for='confirmaSenha') Confirma Senha
    .row
        a.waves-effect.waves-light.btn.grey.darken-3(ng-click='cadastrar()') Cadastrar
