section(ng-init='consultar()')
    h3 Editar Produto
    form#editarProduto.col.s12
    .row
        .input-field.col.s12
            input#nome.validate(type='text', ng-model='produto.nome')
            label.active(for='nome') Nome
    .row
        .input-field.col.s12
            input#preco.validate(type='number', ng-model='produto.preco')
            label.active(for='preco') Preco
    .row
        .input-field.col.s12
            input#quantidade.validate(type='number', ng-model='produto.quantidade')
            label.active(for='quantidade') Quantidade
    .row
        a.waves-effect.waves-light.btn.grey.darken-3(ng-click='editar()') Salvar
